// Socail Share icons
.icon-fb {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: 7px 0;
}
.icon-tw {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: 0px -38px;
}
.icon-gp {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: 0px -38px;
}
.icon-rss {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: 5px -87px;
}
.icon-sh {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: -1px -136px;
}


.icon-favorite {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: -2px -263px;
}
.icon-reminder {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: -2px -318px;
}
.icon-watchlist {
  background: url(../img/icons-sprite.png) no-repeat;
  background-position: -2px -386px;
}

