body {  
  font-size: 12px;
}

#container {
  max-width: auto;
  margin: 0 auto;
}

.header {

  .logo {
    .column(8);
  }
  .social-actions-col {
    .column(8);
  }
  .social {
    .column(8);

  }
  .actions {
    .column(7);
  }
}

.main-nav {
  margin: 15px 0;
  ul {
    .column(16);
    li {
      a {
        padding:6px 5px 8px;
      }
    }
  }
}

.content {
  .column(10);
  margin-top:25px;


  .featured {
    .row(8);

    .container {
      height: 350px;
    }

    .item {
      width:511px;
      img {
        width:100%;
      }
    }
  }

  .channel-tabs {
    .row(8);
    margin-top: 30px;

    .tab-contents {
      .tab {
        .item {
          display: none;
          &:nth-child(-n+3){
            display: block;
          }
          width:100%;
        }
      }
    }
  }
}

.fb-activity {
  .column(8);
  margin-top:30px;

  .container {
    .row(12);

    .slider {

      .item {
        width: 350px;
      }
    }
  }
}

.whats-on {
  .column(6);
  margin-top:25px;

  .list {
    .time {
      .container {
        width:215px;
      }
    }
    .row {
      width: 100%;
      .show {
        @show_width: 240px;
        width: @show_width;
        &.q1 {
          width: @show_width/4;
        }
        &.q2 {
          width: @show_width/2;
        }
        &.q3 {
          width: @show_width - @show_width / 4;
        }
      }
    }

  }
}

.trending {
  .column(8);
  margin-top:30px;

  .container {
    .slider {
      .item {
        width: 455px;
        border-right: 0;
      }
    }
  }
}

footer {
  .search {
    input {
      width: 270px;
    }
  }
}