body {
  font-size: 12px;
}

#container {
  max-width: 960px;
  margin: 0 auto;
}

.header {

  .logo {
    .column(2);
    h1,h2 {
      display: none;
    }
  }
  .social {
    .column(3);
    .push(0);

  }
  .actions {
    .column(7);
  }
}

.main-nav {
  width:100%;
  margin: 15px 0;
  ul {
    .column(7);

    li {
      a {
        padding:6px 5px 8px;
      }
    }
  }
}