@import 'fonts.css';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.clear {
  *zoom: 1;
  display: block;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  width: 100%;
  *zoom: 1;
  display: block;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* default desktop version */
body {
  background: #180b2c;
  text-align: center;
  font-family: 'DosisRegular', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: normal;
}
/* CLEARING */
/* Clearfix Method */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
.clear {
  clear: both;
}
#container {
  background: #110b1c;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
  box-shadow: 0 0 15px 2px #000,
              0 12px 130px 0 #710c1e inset;
}
.btn {
  background: #380928;
  border: #5b224b 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #a85b9c;
  text-shadow: none;
}
.btn:hover,
.btn.active {
  background-color: #2d0823;
  color: #a85b9c;
}
h6.subtitle {
  color: #bda5ba;
  font-family: 'DosisRegular', sans-serif;
  font-size: 25px;
}
.header {
  padding-top: 10px;
}
.header .logo {
  display: inline;
  float: left;
  width: 29.166666666666668%;
  margin: 0 1.0416666666666665%;
}
.header .logo img {
  float: left;
  margin: 3px 15px 0px 0px;
}
.header .logo h1 {
  color: #fff;
  font-size: 28px;
  font-family: 'DosisLight', sans-serif;
}
.header .logo h2 {
  color: #c7a4b9;
  font-size: 22px;
  font-family: 'DosisLight', sans-serif;
}
.header .social-actions-col {
  display: inline;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  margin-left: 32.291666666666664%;
  text-align: right;
}
.header .social-actions-col .social {
  padding-top: 10px;
}
.header .social-actions-col .actions {
  padding-top: 10px;
}
.header .social-actions-col .actions select {
  background: #2b0921;
  border: #512446 1px solid;
  margin-left: 20px;
  width: 100px;
  color: #a85b9c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.main-nav {
  padding: 10px 0px;
  border-bottom: #612d54 1px solid;
}
.main-nav ul {
  display: inline;
  float: left;
  width: 60.416666666666664%;
  margin: 0 1.0416666666666665%;
  padding: 0px;
  list-style: none;
}
.main-nav ul li {
  display: inline;
}
.main-nav ul li a {
  display: inline-block;
  font-size: 20px;
  color: #a85b9c;
  padding: 6px 10px 8px;
}
.main-nav ul li a:hover,
.main-nav ul li a.active {
  color: #feef02;
  text-shadow: 0 2px 17px #ff616b;
  text-decoration: none;
}
.main-nav .nav-right {
  display: inline;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
}
.main-nav .nav-right .watchlist {
  float: left;
  padding-top: 2px;
  text-align: center;
}
.main-nav .nav-right .search {
  float: left;
  width: 100px;
  padding-top: 2px;
}
.main-nav .nav-right .search input {
  background: #2b0921;
  border: #512446 1px solid;
  margin: 0 22px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.content {
  display: inline;
  float: left;
  width: 60.416666666666664%;
  margin: 0 1.0416666666666665%;
  margin-top: 10px;
}
.content .featured {
  width: 104.16666666666667%;
  margin: 0 -2.083333333333333%;
  *zoom: 1;
  display: block;
  margin-bottom: 30px;
  border-bottom: 2px solid #CCC;
}
.content .featured:before,
.content .featured:after {
  content: "";
  display: table;
}
.content .featured:after {
  clear: both;
}
.content .featured .container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.content .featured .arrows {
  position: absolute;
  padding: 3px 6px 10px;
  font-weight: bold;
  font-size: 30px;
  color: #666;
  background-color: #CCC;
  top: 140px;
}
.content .featured .arrows.next {
  right: 0px;
}
.content .featured .slider {
  width: 999999px;
}
.content .featured .item {
  float: left;
  width: 640px;
}
.content .featured .item img {
  width: 99.8%;
}
.content .featured .item .info {
  float: left;
}
.content .featured .item .info h2 {
  font-size: 1.714em;
  /* 24px/14px */

  margin: 0;
}
.content .featured .item .info p {
  color: #666;
}
.content .featured .item .actions {
  float: right;
  margin-top: 20px;
}
.content .channel-tabs {
  width: 104.16666666666667%;
  margin: 0 -2.083333333333333%;
  *zoom: 1;
  display: block;
}
.content .channel-tabs:before,
.content .channel-tabs:after {
  content: "";
  display: table;
}
.content .channel-tabs:after {
  clear: both;
}
.content .channel-tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.content .channel-tabs ul li {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
}
.content .channel-tabs ul li a {
  color: #666;
  font-size: 2.143em;
  margin-right: 20px;
}
.content .channel-tabs ul li a.active {
  color: #000;
}
.content .channel-tabs .tab-contents {
  margin-top: 20px;
  background-color: #EFEFEF;
}
.content .channel-tabs .tab-contents .tab .item {
  width: 300px;
  margin: 5px 10px 5px 5px;
  float: left;
}
.content .channel-tabs .tab-contents .tab .item h2 {
  font-size: 1.286em;
  margin: 10px 0;
  line-height: inherit;
}
.content .channel-tabs .tab-contents .tab .item .info {
  font-weight: bold;
  color: #999;
  font-size: 0.857em;
}
.content .channel-tabs .tab-contents .tab .item .thumb {
  position: relative;
  border: 1px solid #d6d6d6;
  background-color: #FFF;
  float: left;
  padding: 9px;
  margin-right: 10px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content .channel-tabs .tab-contents .tab .item .thumb img {
  display: block;
}
.content .channel-tabs .tab-contents .tab .item .thumb .time {
  position: absolute;
  background-color: #FFF;
  right: 12px;
  top: 76px;
  padding: 0px 5px;
}
.content .channel-tabs .tab-contents .tab .item .thumb a {
  float: left;
  margin-top: 10px;
}
.content .channel-tabs .tab-contents .tab .item .thumb .icon-plus {
  margin-left: 60px;
}
.content .channel-tabs .tab-contents .tab .item .thumb .icon-time {
  margin-left: 58px;
}
.content .channel-tabs .tab-contents .more {
  display: block;
  text-align: center;
  background-color: #DDD;
  margin-top: 10px;
  padding: 5px 0;
  color: #666;
  font-size: 1.429em;
}
.content .channel-tabs .tab-contents .more:hover {
  text-decoration: none;
  background-color: #CCC;
}
.fb-activity {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  position: relative;
  margin-top: 60px;
}
.fb-activity .container {
  width: 104.16666666666667%;
  margin: 0 -2.083333333333333%;
  *zoom: 1;
  display: block;
  height: 105px;
  overflow: hidden;
  background-color: #EFEFEF;
}
.fb-activity .container:before,
.fb-activity .container:after {
  content: "";
  display: table;
}
.fb-activity .container:after {
  clear: both;
}
.fb-activity .container .slider {
  width: 999999px;
}
.fb-activity .container .slider .item {
  width: 278px;
  padding: 20px 0px 20px 40px;
  border-right: 1px solid #CCC;
  display: inline-block;
}
.fb-activity .container .slider .item .thumb {
  float: left;
  margin-right: 10px;
}
.fb-activity .container .slider .item h2 {
  font-size: 14px;
  margin: 0;
  color: #878787;
  line-height: inherit;
}
.fb-activity .arrows {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  color: #666;
  top: 40px;
}
.fb-activity .arrows.prev {
  left: 0px;
}
.fb-activity .arrows.next {
  right: 0px;
}
.fb-activity .all {
  display: block;
  position: absolute;
  right: 0px;
  top: -20px;
  color: #666;
  font-size: 14px;
}
.whats-on {
  display: inline;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  margin-top: 10px;
  position: relative;
}
.whats-on nav {
  position: relative;
  padding: 30px 10px 5px;
  background-color: #f6f6f6;
}
.whats-on nav a {
  font-size: 2.143em;
  color: #666;
  margin-right: 5px;
}
.whats-on nav a.active {
  color: #000;
}
.whats-on nav button {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.whats-on .list {
  background: #181123;
  border: 1px solid #292238;
}
.whats-on .list .time {
  position: relative;
  padding: 0px 27px;
  border-bottom: 1px solid #DDD;
}
.whats-on .list .time .arrows {
  position: absolute;
  padding: 3px 6px 10px;
  font-weight: bold;
  font-size: 30px;
  color: #666;
  border: 1px solid #BBB;
  background-color: #DEDEDE;
}
.whats-on .list .time .arrows.prev {
  left: 0px;
}
.whats-on .list .time .arrows.next {
  right: 0px;
}
.whats-on .list .time .container {
  width: 245px;
  overflow: hidden;
}
.whats-on .list .time .container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 9999999px;
}
.whats-on .list .time .container ul li {
  display: inline-block;
  font-size: 1.571em;
  /* 22px/14px */

  line-height: 35px;
  padding-left: 30px;
  width: 215px;
}
.whats-on .list .time .container ul li i {
  font-style: normal;
  color: #999;
}
.whats-on .list .row {
  overflow: hidden;
}
.whats-on .list .row .container {
  width: 99999px;
}
.whats-on .list .row .show {
  padding: 12px;
  float: left;
  width: 340px;
}
.whats-on .list .row .show h2,
.whats-on .list .row .show h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: inherit;
}
.whats-on .list .row .show h3 {
  color: #999;
}
.whats-on .list .row .show img {
  float: left;
  margin-right: 12px;
  display: none;
}
.whats-on .list .row .show.active img {
  display: block;
}
.whats-on .list .row .show:hover {
  background-color: #EFEFEF;
}
.whats-on .list .row .show.q1 {
  width: 85px;
}
.whats-on .list .row .show.q2 {
  width: 170px;
}
.whats-on .list .row .show.q3 {
  width: 255px;
}
.trending {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  position: relative;
  margin-top: 60px;
}
.trending .container {
  height: 105px;
  overflow: hidden;
  background-color: #EFEFEF;
}
.trending .container .slider {
  width: 999999px;
}
.trending .container .slider .item {
  position: relative;
  width: 278px;
  padding: 20px 0px 20px 40px;
  border-right: 1px solid #CCC;
  display: inline-block;
}
.trending .container .slider .item .thumb {
  float: left;
  margin-right: 10px;
}
.trending .container .slider .item h2 {
  font-size: 14px;
  margin: 0;
  color: #878787;
  line-height: inherit;
}
.trending .container .slider .item p {
  font-size: 12px;
  color: #666;
}
.trending .container .slider .item span {
  display: block;
  padding: 8px 10px;
  background-color: #929292;
  color: #FFF;
  position: absolute;
  right: 50px;
  top: 35px;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-top-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.trending .arrows {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  color: #666;
  top: 40px;
}
.trending .arrows.prev {
  left: 10px;
}
.trending .arrows.next {
  right: 10px;
}
.trending .all {
  display: block;
  position: absolute;
  right: 0px;
  top: -20px;
  color: #666;
  font-size: 14px;
}
footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #515151;
}
footer .search {
  display: inline;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
}
footer .search input {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
  border: 0;
  width: 370px;
  font-size: 1.143em;
  padding: 10px;
}
footer .search a {
  display: block;
  float: left;
  width: 30px;
  height: 40px;
  border-left: 1px solid #dfdfdf;
  background: url('i/search.png') #ffffff no-repeat center center;
}
footer .newsletter {
  display: inline;
  float: left;
  width: 35.41666666666667%;
  margin: 0 1.0416666666666665%;
  text-align: right;
}
footer .newsletter input {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: right;
  border: 0;
  width: 220px;
  font-size: 1.143em;
  padding: 10px;
}
footer .newsletter a {
  display: block;
  float: right;
  padding: 0 10px;
  line-height: 40px;
  border-left: 1px solid #dfdfdf;
  background-color: #dedede;
  color: #969696;
}
footer .newsletter p {
  color: #969696;
  font-size: 12px;
}
footer .nav {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
}
footer .nav ul {
  list-style-type: none;
  margin: 0;
  float: left;
}
footer .nav ul li {
  display: inline-block;
  margin-right: 34px;
}
footer .nav ul li a {
  color: #FFF;
}
footer .nav p {
  float: right;
  color: #FFF;
}
/* tablet version */
@media screen and (max-width: 768px) {
  body {
    padding-top: 15px;
    font-size: 12px;
  }
  #container {
    max-width: auto;
    margin: 0 auto;
  }
  .header .logo {
    display: inline;
    float: left;
    width: 10.416666666666668%;
    margin: 0 1.0416666666666665%;
  }
  .header .logo h1,
  .header .logo h2 {
    display: none;
  }
  .header .social {
    display: inline;
    float: left;
    width: 16.666666666666664%;
    margin: 0 1.0416666666666665%;
    margin-left: 1.0416666666666665%;
  }
  .header .actions {
    display: inline;
    float: left;
    width: 41.66666666666667%;
    margin: 0 1.0416666666666665%;
  }
  .main-nav {
    width: 100%;
    margin: 15px 0;
  }
  .main-nav ul {
    display: inline;
    float: left;
    width: 41.66666666666667%;
    margin: 0 1.0416666666666665%;
  }
  .main-nav ul li a {
    padding: 6px 5px 8px;
  }
  .content {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    margin-top: 25px;
  }
  .content .featured {
    width: 104.16666666666667%;
    margin: 0 -2.083333333333333%;
    *zoom: 1;
    display: block;
  }
  .content .featured:before,
  .content .featured:after {
    content: "";
    display: table;
  }
  .content .featured:after {
    clear: both;
  }
  .content .featured .container {
    height: 350px;
  }
  .content .featured .item {
    width: 511px;
  }
  .content .featured .item img {
    width: 100%;
  }
  .content .channel-tabs {
    width: 104.16666666666667%;
    margin: 0 -2.083333333333333%;
    *zoom: 1;
    display: block;
    margin-top: 30px;
  }
  .content .channel-tabs:before,
  .content .channel-tabs:after {
    content: "";
    display: table;
  }
  .content .channel-tabs:after {
    clear: both;
  }
  .content .channel-tabs .tab-contents .tab .item {
    display: none;
    width: 100%;
  }
  .content .channel-tabs .tab-contents .tab .item:nth-child(-n+3) {
    display: block;
  }
  .fb-activity {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-top: 30px;
  }
  .fb-activity .container {
    width: 102.77777777777777%;
    margin: 0 -1.3888888888888888%;
    *zoom: 1;
    display: block;
  }
  .fb-activity .container:before,
  .fb-activity .container:after {
    content: "";
    display: table;
  }
  .fb-activity .container:after {
    clear: both;
  }
  .fb-activity .container .slider .item {
    width: 350px;
  }
  .whats-on {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    margin-top: 25px;
  }
  .whats-on .list .time .container {
    width: 215px;
  }
  .whats-on .list .row {
    width: 100%;
  }
  .whats-on .list .row .show {
    width: 240px;
  }
  .whats-on .list .row .show.q1 {
    width: 60px;
  }
  .whats-on .list .row .show.q2 {
    width: 120px;
  }
  .whats-on .list .row .show.q3 {
    width: 180px;
  }
  .trending {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    margin-top: 30px;
  }
  .trending .container .slider .item {
    width: 455px;
    border-right: 0;
  }
  footer .search input {
    width: 270px;
  }
}
/* phone version */
@media screen and (max-width: 480px) {
  body {
    padding-top: 15px;
    font-size: 12px;
  }
  #container {
    max-width: auto;
    margin: 0 auto;
  }
  .header .logo {
    display: inline;
    float: left;
    width: 10.416666666666668%;
    margin: 0 1.0416666666666665%;
  }
  .header .logo h1,
  .header .logo h2 {
    display: none;
  }
  .header .social {
    display: none;
  }
  .header .actions {
    display: inline;
    float: left;
    width: 60.416666666666664%;
    margin: 0 1.0416666666666665%;
    padding-top: 8px;
  }
  .header .actions select {
    width: 120px;
    margin: 0;
  }
  .main-nav {
    width: 100%;
    margin: 15px 0;
  }
  .main-nav ul {
    display: inline;
    float: left;
    width: 54.166666666666664%;
    margin: 0 1.0416666666666665%;
  }
  .main-nav ul li a {
    display: inline-block;
    font-size: 1.571em;
    /* 22px/14px */
  
    color: #FFF;
    padding: 6px 10px 8px;
  }
  .content {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-top: 10px;
  }
  .content .featured {
    width: 102.77777777777777%;
    margin: 0 -1.3888888888888888%;
    *zoom: 1;
    display: block;
    margin-bottom: 0px;
  }
  .content .featured:before,
  .content .featured:after {
    content: "";
    display: table;
  }
  .content .featured:after {
    clear: both;
  }
  .content .featured .container {
    height: 230px;
  }
  .content .featured .arrows {
    top: 65px;
  }
  .content .featured .item {
    width: 320px;
  }
  .content .featured .item img {
    width: 100%;
  }
  .content .featured .item .info {
    margin: 5px 0px 0px 5px;
    width: 190px;
  }
  .content .featured .item .info h2 {
    line-height: inherit;
  }
  .content .featured .item .actions {
    float: right;
  }
  .content .featured .item .actions a {
    margin-right: 5px;
  }
  .content .channel-tabs {
    display: none;
  }
  .fb-activity {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-top: 30px;
  }
  .fb-activity .container {
    width: 102.77777777777777%;
    margin: 0 -1.3888888888888888%;
    *zoom: 1;
    display: block;
  }
  .fb-activity .container:before,
  .fb-activity .container:after {
    content: "";
    display: table;
  }
  .fb-activity .container:after {
    clear: both;
  }
  .fb-activity .container .slider .item {
    width: 100%;
  }
  .whats-on {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-top: 25px;
  }
  .whats-on .list .time .container {
    width: 215px;
  }
  .whats-on .list .row {
    width: 100%;
  }
  .whats-on .list .row .show {
    width: 300px;
  }
  .whats-on .list .row .show.q1 {
    width: 75px;
  }
  .whats-on .list .row .show.q2 {
    width: 150px;
  }
  .whats-on .list .row .show.q3 {
    width: 225px;
  }
  .trending {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-top: 30px;
  }
  .trending .container .slider .item {
    width: 455px;
    border-right: 0;
  }
  footer .search {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  footer .search input {
    width: 223px;
  }
  footer .newsletter {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    text-align: center;
  }
  footer .newsletter input {
    width: 188px;
  }
  footer .nav {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
  }
  footer .nav ul li {
    margin-right: 4px;
  }
}
